body {
   position: relative;
}
.modal__main {
   display: none;
   background-color: #eeeeee;
   width: 360px;
   height: 800px;
   position: absolute;
   top: 0;
   left: 0;
   overflow: hidden;
}

.main__header {
   display: flex;
   justify-content: space-between;
   height: 60px;
   align-items: center;
   background-color: #66ae3e;
   font-size: 20px;
   color: white;
   padding: 10px;
}
.header__menu {
   height: 50px;
}
.header__exit {
   height: 50px;
}
.header__img {
   height: 100%;
}

.karta__block {
   height: 200px;
   margin-top: 20px;
   position: relative;
}
.karta__block img {
   height: 100%;
   margin-left: 8%;
}
.balans__block {
   position: absolute;
   bottom: 6px;
   left: 37%;
   width: 100%;
   height: 40px;
}
.balans {
   font-size: 23px;
}

.pay__blocks {
   display: flex;
   margin-top: 25px;
}
.block {
   display: flex;
   align-items: center;
   border-top: 1px solid black;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
  
}
.block img {
   width: 30%;
   margin-right: 5px;
}