body {
   position: relative;
}
.modal__main {
   display: none;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
}

.main__header {
   display: flex;
   justify-content: space-between;
   height: 60px;
   align-items: center;
   background-color: #66ae3e;
   font-size: 20px;
   color: white;
   padding: 10px;
}
.header__menu {
   height: 50px;
}
.header__exit {
   height: 50px;
}
.header__img {
   /* width: 100%; */
   height: 100%;
}